<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css" />
    <script src="../static/script.js"></script>
</head>
<body>
    <form action="/delete" method="POST">
        <label for="text">Text of task you want to delete: </label>
        <input type="text" name="text">
        <br>  
        <input type="submit" value="Remove Task">    
    </form>
</body>
</html>